---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {Navbar} from "../../components/ui/core/Navbar";
import Footer from "../../components/ui/core/Footer";
import SwarmScene from "../../components/ui/core/scenes/SwarmScene";
const navItems = [
  {
    name: "Home",
    link: "/"
  }
];
---

<BaseLayout locale="en" title="Abdulrahman AlGhoul's Blog">
  <Navbar 
      locale="en" 
      navItems={navItems}
      logo="AlGhoul"
      githubText="Github Repository" 
      client:visible
  />
  
  <main class="h-screen">
    <div class="fixed inset-0 -z-10">
      <SwarmScene  client:only/>
    </div>
  </main>
  
  <Footer
    slot="footer"
    locale="en"
    authorName="Abdulrahman AlGhoul"
    authorRole="Software Developer & Tech Writer"
    description="Built with Next.js and deployed on Github"
  />
</BaseLayout>
