---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {Navbar} from "../../components/ui/core/Navbar";
const navItems = [
  {
    name: "Home",
    link: "/"
  }
];
---

<BaseLayout locale="en" title="Abdulrahman AlGhoul's Blog">
  <main class="h-screen">
    <Navbar 
      locale="en" 
      navItems={navItems}
      logo="AlGhoul"
      githubText="Github Repository" 
      client:visible
    />
  </main>
</BaseLayout>
