---
import BaseEnglishLayout from "@layouts/BaseEnglishLayout.astro";
import { getCollection, render } from "astro:content";
import SpaceBoyScene from "@components/ui/core/scenes/SpaceBoyScene";
import PostWithTOC from "@components/ui/posts/PostWithTOC";
import { getPrevNextForPost } from "@lib/posts";

export async function getStaticPaths() {
 const allPosts = (await getCollection("posts"))
  .filter((post) => !post.data.draft)
  .filter((post) => post.data.lang === "en")
  .sort((a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf()).slice(0, 3);

 return allPosts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);
const { prevPost, nextPost } = await getPrevNextForPost(post.id);
---
<BaseEnglishLayout>
  <div class="min-h-screen">
    <div class="fixed inset-0 -z-10">
      <SpaceBoyScene client:only />
    </div>

    <main class="min-h-screen mb-12">
      <div class="flex lg:gap-8 mt-24 px-4 sm:px-6 lg:px-8">
        <div class="flex flex-1 gap-4 justify-center min-w-0">
          <PostWithTOC 
            locale="en"
            post={{...post, frontmatter: remarkPluginFrontmatter}}
            headings={headings}
            prevPost={prevPost}
            nextPost={nextPost}
            client:only>
            <Content />
          </PostWithTOC>
        </div>
      </div>
    </main>
  </div>
</BaseEnglishLayout>
