---
import BaseLayout from "../layouts/BaseLayout.astro";
import {Navbar} from "../components/ui/core/Navbar";
import Footer from "../components/ui/core/Footer";
import { getSearchablePosts } from "@lib/posts";
import Preloader from "@components/ui/preloader";
import FluidCanvas from "@components/ui/core/scenes/FluidCanvas";
  
const navItems = [
  {
    name: "الرئيسية",
    link: "/"
  },
  {
    name: "المقالات",
    link: "/posts/page/1"
  },
];

const posts = await getSearchablePosts();

interface Props {
  subTitle?: string;
}

const { subTitle } = Astro.props;
---
<BaseLayout locale="ar" title={subTitle ? `${subTitle} | مدونة عبد الرحمن الغول` : "مدونة عبد الرحمن الغول"}>
  <slot />

  <body slot="body">
    <div id="initial-blocker" class="fixed inset-0 z-1 bg-white dark:bg-black"></div>
    <Preloader client:load>
      <Navbar 
        locale="ar" 
        navItems={navItems}
        logo="الغول"
        githubText="المستودع" 
        searchablePosts={posts}
        client:only
      />

      <slot name="body" /> 

      <Footer
        locale="ar"
        authorName="عبد الرحمن الغول"
        authorRole="مطور و كاتب تقني"
        description="تم بناءه بواسطة Next.js ونشره على Github"
      />
    </Preloader>
    <FluidCanvas client:load />
  </body>
</BaseLayout>
