---
import FluidCanvas from "../components/ui/core/scenes/FluidCanvas";
import Preloader from "../components/ui/preloader";
import "../styles/global.css";

interface Props {
  locale: string;
  title: string;
}

const { locale, title } = Astro.props;
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body>
    <Preloader client:only>
      <slot />
      <slot name="footer" />
    </Preloader>
    <FluidCanvas client:only/>
	</body>
</html>
